<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>{{site['name']}} - 访问出错</title>
</head>

<body>
<div class="app-main">
  <div class="main">
    <div class="main-content">
      <div class="single-page-con">
        <div class="layout">
          <div class="layout-content">

            <div class="panel panel-default" style="height: unset; margin: 0">
              <div class="panel-heading">
                <h3 class="panel-title">访问出错
                  <small>({{code}})</small>
                </h3>
              </div>
              <div class="panel-body" style="padding: 10px">
                <p>{{message}}</p>
                <p style="margin: 10px 0 40px">
                  {% if 'links' in globals() %}
                  {% for text, url in links %}
                  <a href="{{url}}" class="btn btn-primary">{{text}}</a>
                  {% end %}
                  {% end %}
                  <a href="/" class="btn btn-default fr"><i class="glyphicon glyphicon-home"></i> 回到首页</a>
                  <a href="javascript:history.back(-1)" class="btn btn-default fr">
                    <i class="glyphicon glyphicon-chevron-left"></i> 返回前页
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>